/* Google Font */

.noto-serif-normal {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
/* Universal Selector */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Shared Style */
.primary-color {
  color: #000000;
}
.secondary-color {
  color: #e95a08;
}
.p-description {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-weight: 400;
  font-size: 22px;
  color: rgba(0, 0, 0, 0.5);
}
/* Header Section */
.header {
  max-width: 1140px;
  margin: 30px auto;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: auto;
}
.header ul {
  display: flex;
  font-size: medium;
  gap: 48px;
}
.home {
  color: #252432;
}
.nav-logo {
  width: 135px;
}

ul li {
  list-style: none;
  color: #8987a1;
}
ul li a {
  text-decoration: none;
  color: #8987a1;
}
/* Hero Section */
.hero {
  max-width: 1140px;
  margin: 120px auto;
}
.conteiner {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.hero-content {
  flex: 1;
}
.hero-img {
  flex: 1;
}
.card img {
  max-width: 100%;
}
.hero-title {
  font-weight: 700;
  font-size: 65px;
}
/* Our Plants */
.Our-plants {
  max-width: 1140px;
  margin: auto;
}
.plant-content {
  text-align: center;
}
.plant-title {
  font-weight: 700;
  font-size: 50px;
  margin-bottom: 16px;
}
/* Card */
.card {
  text-align: center;
}
.card-title {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-weight: 500;
  font-size: 22px;
  color: #111111;
  margin-top: 30px;
}
.card-price {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-weight: 700;
  font-size: 22px;
  color: #111111;
  margin-top: 20px;
  margin-bottom: 30px;
}
.btn-primary {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-weight: 600;
  font-size: 16px;
  color: #ffffff;
  background-color: #e95a08;
  padding: 19px 90px;
  border: none;
}
.conteiner-card {
  max-width: 1140px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 50px;
  gap: 20px;
}
.conteiner-card img {
  max-width: 100%;
}
/* Flower And Plant */
.flower-title {
  font-weight: 700;
  font-size: 50px;
  color: #000000;
}
.flower-plant {
  max-width: 1140px;
  margin: 0 auto;
  margin-top: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.flower-content {
  padding-top: 20px;
}
.li-flower {
  margin-top: 20px;
}
.flower-list {
  margin-left: 20px;
}
.flower-plant img {
  width: 100%;
}
.flower-list ul li {
  list-style: disc;
}
/* Latest Deal */
.latest-deal {
  max-width: 1440px;
  text-align: center;
  margin-top: 133px;
  margin-bottom: 120px;
}
.latest-title {
  font-weight: 700;
  font-size: 50px;
  color: #000000;
  margin-bottom: 16px;
}
/* Latest-Sub-Section */
.sub-latest-section {
  max-width: 1140px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  gap: 28px;
  margin-bottom: 120px;
}
.conteiner-latest-1 {
  width: 40%;
}
.latest-div1 {
  height: 198.5px;
  display: grid;
  place-items: center;
  text-align: center;
  background-image: url(../images/deal-bloom.png);
  background-size: cover;
  border-radius: 14px;
}
.div1-title {
  font-weight: 700;
  font-size: 20px;
  color: #ffffff;
}
.div1-sub-title {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-weight: 600;
  font-size: 16px;
  color: #ffffff;
}
#latest-div1 {
  margin-bottom: 25px;
}
.latest-div2 {
  height: 198.5px;
  display: grid;
  place-items: center;
  text-align: center;
  background-image: url(../images/deal-ana.png);
  background-size: cover;
  border-radius: 14px;
}
.div2-title {
  font-weight: 700;
  font-size: 20px;
  color: #ffffff;
}
.div2-sub-title {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #ffffff;
}
.conteiner-latest-2 {
  width: 60%;
}
.right-conteiner {
  max-width: 753px;
  height: 422px;
  display: grid;
  place-items: center;
  text-align: center;
  background-image: url(../images/deal-zabo.png);
  border-radius: 28px;
}
.content2-title {
  font-weight: 700;
  font-size: 40px;
  color: #ffffff;
}
.content2-sub-title {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-weight: 500;
  font-size: 28px;
  color: #ffffff;
  text-decoration: underline;
}
/* Join Bunch */
.class {
  max-width: 1440px;
  height: 533px;
  background-image: url(../images/news-letter-bg.png);
  display: grid;
  place-items: center;
}
.class-conteiner {
}
.newslatter {
  display: flex;
}
.class-title {
  font-weight: 700;
  font-size: 50px;
  color: #ffffff;
  text-align: center;
  margin-bottom: 23px;
}
#input {
  max-width: 644px;
  padding: 20px 8px;
}
.class-btn {
  font-weight: 600;
  font-size: 16px;
  color: #ffffff;
  background-color: #e95a08;
  padding: 19px 53px;
  border: none;
}
/* Mobile Responsive */
@media screen and (max-width: 576px) {
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  .mobile-hidden {
    display: none;
    visibility: hidden;
  }
  .header {
    margin: auto 16px;
  }
  .conteiner {
    flex-direction: column-reverse;
  }
  .hero-content {
    margin: auto 16px;
  }
  .conteiner-card {
    grid-template-columns: repeat(2, 1fr);
    margin: auto 15px;
  }
  .flower-plant {
    margin: 40px 15px;
    flex-direction: column;
  }
  #latest-des {
    padding: 0px 28px;
  }
  .sub-latest-section {
    flex-direction: column;
    padding: 0 16px;
    width: 100%;
  }
  .conteiner-latest-2 {
    width: 100%;
  }
  .conteiner-latest-1 {
    width: 100%;
  }
  #input {
    margin-left: 60px;
  }
}
