/* Google Font */

.noto-serif-normal {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
/* Universal Selector */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Shared Style */
.primary-color {
  color: #000000;
}
.secondary-color {
  color: #e95a08;
}
.p-description {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-weight: 400;
  font-size: 22px;
  color: rgba(0, 0, 0, 0.5);
}
/* Header Section */
.header {
  max-width: 1140px;
  margin: 30px auto;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: auto;
}
.header ul {
  display: flex;
  font-size: medium;
  gap: 48px;
}
.home {
  color: #252432;
}
.nav-logo {
  width: 135px;
}

ul li {
  list-style: none;
  color: #8987a1;
}
ul li a {
  text-decoration: none;
  color: #8987a1;
}
/* Hero Section */
.hero {
  max-width: 1140px;
  margin: 120px auto;
}
.conteiner {
  display: flex;
  align-items: flex-end;
}
.hero-content {
  flex: 1;
}
.hero-img {
  flex: 1;
}
.hero-title {
  font-weight: 700;
  font-size: 65px;
}
/* Our Plants */
.Our-plants {
  max-width: 1140px;
  margin: auto;
  margin-top: 100px;
}
.plant-content {
  text-align: center;
}
.plant-title {
  font-weight: 700;
  font-size: 50px;
  margin-bottom: 16px;
}
/* Card */
.card {
  text-align: center;
}
.card-title {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-weight: 500;
  font-size: 22px;
  color: #111111;
  margin-top: 30px;
}
.card-price {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-weight: 700;
  font-size: 22px;
  color: #111111;
  margin-top: 20px;
  margin-bottom: 30px;
}
.btn-primary {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-weight: 600;
  font-size: 16px;
  color: #ffffff;
  background-color: #e95a08;
  padding: 19px 90px;
  border: none;
}
.conteiner-card {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 50px;
  gap: 20px;
}
.conteiner-card img {
  max-width: 100%;
}
/* Mobile Responsive */
@media screen and (max-width: 576px) {
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  .mobile-hidden {
    display: none;
    visibility: hidden;
  }
  .conteiner {
    flex-direction: column-reverse;
  }
  .conteiner-card {
    grid-template-columns: repeat(2, 1fr);
  }
}
